
<section class="footer-carousel bg-red py-3 overflow-hidden">
    <!-- 
       Logic: The content inside repeats 3 times. 
       We animate it moving 33.33% (1/3) to the left, then snap back to 0.
    -->
    <div class="footer-carousel__container overflow-hidden">
        <!-- SET 1 -->
        <div class="footer-carousel__slide">Grass-Fed</div>
        <div class="footer-carousel__slide">Ethically-Sourced</div>
        <div class="footer-carousel__slide">Naturally-Raised</div> 
        <div class="footer-carousel__slide">No Added Hormones</div> 
        <div class="footer-carousel__slide">No GMOs</div> 
        <div class="footer-carousel__slide">No Antibiotics Ever</div> 
        <div class="footer-carousel__slide">Free-Range</div> 
        <div class="footer-carousel__slide">Preservative-Free</div> 
        
        <!-- SET 2 (Repeat) -->
        <div class="footer-carousel__slide">Grass-Fed</div>
        <div class="footer-carousel__slide">Ethically-Sourced</div>
        <div class="footer-carousel__slide">Naturally-Raised</div> 
        <div class="footer-carousel__slide">No Added Hormones</div> 
        <div class="footer-carousel__slide">No GMOs</div> 
        <div class="footer-carousel__slide">No Antibiotics Ever</div> 
        <div class="footer-carousel__slide">Free-Range</div> 
        <div class="footer-carousel__slide">Preservative-Free</div> 

        <!-- SET 3 (Repeat) -->
        <div class="footer-carousel__slide">Grass-Fed</div>
        <div class="footer-carousel__slide">Ethically-Sourced</div>
        <div class="footer-carousel__slide">Naturally-Raised</div> 
        <div class="footer-carousel__slide">No Added Hormones</div> 
        <div class="footer-carousel__slide">No GMOs</div> 
        <div class="footer-carousel__slide">No Antibiotics Ever</div> 
        <div class="footer-carousel__slide">Free-Range</div> 
        <div class="footer-carousel__slide">Preservative-Free</div>
    </div>
</section>

<footer class="bg-black py-16">
    <div class="container">
        <div class="lg:flex">
            <div class="w-full lg:w-1/4">
                <div class="px-6">
                    <a href="#">
                        <img class="w-auto h-18" src="../src/assets/Joint_stack_white.svg" alt="">
                    </a>

                    <div class="flex justify-center lg:justify-start mt-8">
                        <a href="#" class="mr-2">
                            <svg class="w-6 h-6 fill-current" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="100" height="100" viewBox="0 0 24 24">
                                <path d="M 8 3 C 5.239 3 3 5.239 3 8 L 3 16 C 3 18.761 5.239 21 8 21 L 16 21 C 18.761 21 21 18.761 21 16 L 21 8 C 21 5.239 18.761 3 16 3 L 8 3 z M 18 5 C 18.552 5 19 5.448 19 6 C 19 6.552 18.552 7 18 7 C 17.448 7 17 6.552 17 6 C 17 5.448 17.448 5 18 5 z M 12 7 C 14.761 7 17 9.239 17 12 C 17 14.761 14.761 17 12 17 C 9.239 17 7 14.761 7 12 C 7 9.239 9.239 7 12 7 z M 12 9 A 3 3 0 0 0 9 12 A 3 3 0 0 0 12 15 A 3 3 0 0 0 15 12 A 3 3 0 0 0 12 9 z"></path>
                            </svg>
                        </a>
                    
                        <a href="#" class="mr-2">
                            <svg class="w-6 h-6 fill-current" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M2.00195 12.002C2.00312 16.9214 5.58036 21.1101 10.439 21.881V14.892H7.90195V12.002H10.442V9.80204C10.3284 8.75958 10.6845 7.72064 11.4136 6.96698C12.1427 6.21332 13.1693 5.82306 14.215 5.90204C14.9655 5.91417 15.7141 5.98101 16.455 6.10205V8.56104H15.191C14.7558 8.50405 14.3183 8.64777 14.0017 8.95171C13.6851 9.25566 13.5237 9.68693 13.563 10.124V12.002H16.334L15.891 14.893H13.563V21.881C18.8174 21.0506 22.502 16.2518 21.9475 10.9611C21.3929 5.67041 16.7932 1.73997 11.4808 2.01722C6.16831 2.29447 2.0028 6.68235 2.00195 12.002Z">
                                </path>
                            </svg>
                        </a>

                        <a href="#" class="mr-2">
                            <svg class="w-6 h-6 fill-current" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="100" height="100" viewBox="0 0 24 24">
                                <path d="M 6 3 C 4.3550302 3 3 4.3550302 3 6 L 3 18 C 3 19.64497 4.3550302 21 6 21 L 18 21 C 19.64497 21 21 19.64497 21 18 L 21 6 C 21 4.3550302 19.64497 3 18 3 L 6 3 z M 12 7 L 14 7 C 14 8.005 15.471 9 16 9 L 16 11 C 15.395 11 14.668 10.734156 14 10.285156 L 14 14 C 14 15.654 12.654 17 11 17 C 9.346 17 8 15.654 8 14 C 8 12.346 9.346 11 11 11 L 11 13 C 10.448 13 10 13.449 10 14 C 10 14.551 10.448 15 11 15 C 11.552 15 12 14.551 12 14 L 12 7 z"></path>
                            </svg>
                        </a>

                        <a href="#" class="">
                            <svg class="w-6 h-6 fill-current" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="100" height="100" viewBox="0 0 50 50">
                                <path d="M 44.898438 14.5 C 44.5 12.300781 42.601563 10.699219 40.398438 10.199219 C 37.101563 9.5 31 9 24.398438 9 C 17.800781 9 11.601563 9.5 8.300781 10.199219 C 6.101563 10.699219 4.199219 12.199219 3.800781 14.5 C 3.398438 17 3 20.5 3 25 C 3 29.5 3.398438 33 3.898438 35.5 C 4.300781 37.699219 6.199219 39.300781 8.398438 39.800781 C 11.898438 40.5 17.898438 41 24.5 41 C 31.101563 41 37.101563 40.5 40.601563 39.800781 C 42.800781 39.300781 44.699219 37.800781 45.101563 35.5 C 45.5 33 46 29.398438 46.101563 25 C 45.898438 20.5 45.398438 17 44.898438 14.5 Z M 19 32 L 19 18 L 31.199219 25 Z"></path>
                            </svg>
                        </a>
                    
                    </div>
                </div>
            </div>

            <div class="lg:ml-24 mt-6 lg:mt-0 lg:flex-1">
                <div class="grid gap-6 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 text-center sm:text-left">
                    <div>
                        <h6 class="text-white uppercase">ABOUT US</h6>
                        <a href="#" class="menu-item">Sear&Serve</a>
                        <a href="#" class="menu-item">Cuisine Solutions</a>
                        <a href="#" class="menu-item">Sous Vide</a>
                    </div>

                    <div>
                        <h6 class="uppercase text-white">LEARN MORE</h6>
                        <a href="/pages/privacy-policy.html" class="menu-item">Your Privacy Choices</a>
                        <a href="#" class="menu-item">FAQ</a>
                        <a href="/pages/page.html" class="menu-item">Shipping Policy</a>
                        <a href="#" class="menu-item">Contact</a>
                    </div>

                    <div class="col-span-2">
                        <h6 class="uppercase text-white">NEWSLETTER</h6>
                        <p class="max-w-sm my-2 text-gray-200">Sign up to be the first to hear about new product releases, sales, and more!</p>
                        <form>
                            <div class="flex flex-col justify-between p-1.5 overflow-hidden border border-gray-800 rounded-lg lg:flex-row focus-within:ring focus-within:ring-opacity-40 focus-within:border-red-400 focus-within:ring-red-300">
                                <input class="p-2 text-gray-200 placeholder-gray-200 bg-transparent outline-none focus:placeholder-transparent" type="text" name="email" placeholder="Enter your email" aria-label="Enter your email">
                                <button class="btn btn-primary btn-small">subscribe</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <hr class="h-px my-16 bg-gray-200 border-none">

        <div>
            <p class="text-center text-gray-500">© Sear&Serve 2025 - All rights reserved</p>
        </div>
    </div>
</footer>


<div id="cookie-banner" class="hidden fixed w-screen lg:max-w-md p-4 mx-auto bg-black bottom-0 lg:right-12 lg:bottom-12 rounded-md z-50">
    <h5 class="font-semibold text-gray-200">🍪 Cookie Notice</h5>

    <p class="mt-4 text-sm text-gray-300">We use cookies to ensure that we give you the best experience on our website. <a href="#" class="text-blue-500 hover:underline">Read cookies policies</a>. </p>
    
    <div class="flex items-center justify-between mt-4 gap-x-4 shrink-0">
        <button class="text-xs text-gray-200 underline transition-colors duration-300 hover:text-gray-600 focus:outline-none">
            Manage your preferences
        </button>

        <button id="cookie-accept" class="btn btn-small btn-secondary">
            Accept
        </button>
    </div>
</div>

<div class="offcanvas-backdrop fade"></div>

<!-- Page Loader Curtain -->
<div id="page-loader"></div>